.navbar_logo {
  display: flex;
  background-color: #202d38;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left_side_navbar {
  background-color: #efd018;
  width: 25vh;
  text-align: end;
  align-items: center;
  font-size: 20px;
}

.right_side_navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar_links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.navbar_links li {
  cursor: pointer;
  color: white;
  transition: color 0.3s;
  margin-right: 80px;
}

.navbar_links li:active,
.navbar_links li:hover {
  color: #efd018;
}

.navbar_links li.active {
  color: #efd018;
}

@media (max-width: 900px) {
  .navbar_logo {
    flex-wrap: wrap;
    /* allow wrapping on smaller screens */
    height: auto;
  }

  .left_side_navbar {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }

  .right_side_navbar {
    width: 100%;
    justify-content: center;
  }

  .navbar_links {
    flex-wrap: wrap;
    /* allow links to wrap to next line */
    justify-content: center;
  }

  .navbar_links li {
    margin-right: 20px;
    /* reduce spacing */
    margin-bottom: 8px;
    /* spacing when wrapped */
  }
}

@media (max-width: 500px) {
  .navbar_links li {
    flex: 1 1 100%;
    /* each link takes full width */
    text-align: center;
    margin-right: 0;
  }
}